.bottom {
  overflow-y: auto;
  $bg-clr: hsl(120, 100%, 75%);
  background: $bg-clr;
  background: linear-gradient(
    to right,
    lighten($bg-clr, 4%),
    lighten($bg-clr, 7.5%),
    $bg-clr
  );
  
  ul {
    user-select: none;
    list-style: none;
    gap: 1em;
    width: 100%;
    max-width: 500px;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5em;
      background-color: var(--main-bg-clr);
      color: white;
      border-radius: 5px;
      padding: 0.5em;
      

      &:hover {
        filter: hue-rotate(45deg);
      }
    }
  }
}

task-info {
  overflow-x: hidden;
  width: calc(100% - var(--delete-btn-size));

  &[data-done="true"] {
    text-decoration: line-through;
  }

  div {
    font-size: 1.1em;
    font-weight: bold;
  }
}

.delete-btn {
  font-size: 1.5em;
  height: var(--delete-btn-size);
  width: var(--delete-btn-size);
  cursor: pointer;

  &:hover {
    color: lighten(red, 5%);
  }
}