.bottom {
  overflow-y: auto;
  $bg-clr: hsl(120, 100%, 75%);
  background: $bg-clr;
  background: linear-gradient(
    to right,
    lighten($bg-clr, 4%),
    lighten($bg-clr, 7.5%),
    $bg-clr
  );
  
  ul {
    user-select: none;
    list-style: none;
    gap: 1em;
    width: 100%;
    max-width: 500px;

    li {
      width: 100%;
      display: flex;
      border-radius: 5px;
    }
  }
}

task-info {
  --delete-btn-size: 3em;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: var(--main-bg-clr);

  &:hover {
    filter: hue-rotate(45deg);
  }

  &[data-done="true"] {
    background-color: rgb(146, 151, 153);

    & > div:first-child {
      text-decoration: line-through;
    }
  }

  & > div:first-child {
    width: calc(100% - var(--delete-btn-size));
    padding: 0.66em;
    max-height: 5em;
    overflow-y: auto;
    color: white;

    span {
      font-weight: bold;
      border-bottom: 1px solid white;
      margin-bottom: 0.25em;
    }
  }

  & > div:nth-child(2) {
    width: var(--delete-btn-size);
    height: var(--delete-btn-size);

    .delete-btn {
      cursor: pointer;
      font-size: 1.5em;
      font-weight: bold;

      &:hover {
        color: red;
      }
    }
  }
}
