.top, .bottom {
  padding: 1em;
}

.top {
  background-color: var(--main-bg-clr);

  form {
    width: 100%;
    max-width: 500px;
    display: grid;
    grid-template-columns: 4fr 1fr;

    .left {
      gap: 0.5em;

      input {
        font-size: 1.1em;
        padding: 0.1em 0.2em;
      }
    }

    .right button {
      all: unset;
      text-align: center;
      background-color: white;
      border-radius: 9999px;
      padding: 0.4em 0.55em;
      cursor: pointer;
      transition: 0.4s;

      &:active, &:focus {
        transform: scale(0.975);
      }
    }
  }
}